:root {
  --base-lightest: #f0f0f0;
  --base-lighter: #dfe1e2;
  --base-light: #a9aeb1;
  --base: #71767a;
  --base-dark: #565c65;
  --base-darker: #3d4551;
  --base-darkest: #1b1b1b;
  --primary-lighter: #d9e8f6;
  --primary-light: #73b3e7;
  --primary: #005ea2;
  --primary-dark: #1a4480;
  --primary-darker: #162e51;
  --error-lighter: #f8dfe2;
  --error-light: #f2938c;
  --error: #d83933;
  --error-dark: #b50909;
  --error-darker: #8b0a03;
  --success-lighter: #d9f6d9;
  --success-light: #75e773;
  --success: #08a200;
  --success-dark: #1a8024;
  --success-darker: #16511d;
  --notice-light: #fff698;
  --notice-dark: #beb86b;
}
@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow: .25em 0 0 rgba(0,0,0,0), 5em 0 0 rgba(0,0,0,0);
  }
  40% {
    color: black;
    text-shadow: .25em 0 0 rgba(0,0,0,0), .5em 0 0 rgba(0,0,0,0);
  }
  60% {
    text-shadow: .25em 0 0 black, .5em 0 0 rgba(0,0,0,0);
  }
  80%, 100% {
    text-shadow: .25em 0 0 black, .5em 0 0 black;
  }
}

html {
  font-family: sans-serif;
  font-size: 16px;
  color: var(--base-darkest);
}
body {
  line-height: 1.4;
  margin: 0;
  padding: 0;
}
a {
  color: var(--primary);
}
a:hover {
  color: var(--primary-darker);
}
button {
  color: var(--base-lightest);
  background: var(--primary);
  border: none;
  padding: 6px 12px;
  margin: 0 6px 6px 0;
  display: inline-block;
  cursor: pointer;
  font-size: 1.1rem;
  box-sizing: border-box;
  border-radius: 3px;
}
button:hover {
  background: var(--primary-dark);
}
table {
  border-collapse: collapse;
  margin: 0;
}
td, th {
  padding: 6px;
  border-right: 1px solid rgba(0, 0, 0, 0.33);
}
td {
  border-bottom: 2px solid var(--base-darkest);
}
td:last-child,
th:last-child {
  border-right: none;
}
thead th {
  font-weight: bold;
  text-align: left;
  background-color: var(--base-darkest);
  color: var(--base-lightest);
  position: sticky;
  top: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.33);
}

.message {
  background: var(--notice-light);
  border: 1px solid var(--notice-dark);
  padding: 6px 12px;
  margin-bottom: 6px;
  box-sizing: border-box;
}
.message.error {
  background-color: var(--error-lighter);
  border-color: var(--error);
}
.message.success {
  background-color: var(--success-lighter);
  border-color: var(--success);
}

.queue-table {
  width: 100%;
}
.queue-table .actions {
  white-space: nowrap;
}
.queue-table .title a .facet {
  color: var(--base-lightest);
  background: var(--primary-dark);
  display: inline-block;
  vertical-align: middle;
  font-size: 0.8rem;
  padding: 1px 4px;
  margin: 0 3px;
  text-decoration: none;
  border-radius: 2px;
}
.queue-table .title a:hover .facet {
  background-color: var(--primary-darker);
}
.queue-table .actions button {
  padding: 0;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 1.2rem;
  margin: 0 2px 0 0;
}

.queue-toolbar {
  width: 100%;
  position: sticky;
  bottom: 0;
}
.queue-menu {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 6px;
  background: #eee;
  justify-content: flex-end;
  align-items: stretch;
}
.queue-actions {
  display: flex;
  padding: 3px 3px 3px 12px;
}
.queue-actions button {
  margin-bottom: 0;
  background-color: var(--success-dark);
  font-size: 1.33rem;
}
.queue-actions button:hover {
  background-color: var(--success-darker);
}
.queue-actions button:disabled {
  background-color: var(--base-dark);
  cursor: default;
}
.queue-options fieldset {
  display: inline-block;
  padding: 0 3px;
  margin: 6px;
  border: 1px solid var(--base-light);
}
.queue-options label {
  display: inline-block;
  margin: 3px 3px 3px 0;
}
.queue-options legend {
  font-size: 0.9rem;
  margin-left: 6px;
  color: var(--base-darker);
}
fieldset.toggle-target {
  display: none;
}
fieldset.toggle-target.active {
  display: inline-block;
}

.queue-log {
  width: 100%;
  box-sizing: border-box;
  padding: 6px;
  background: var(--base-darkest);
  color: white;
  font-size: 0.9rem;
  font-family: 'Courier New', Courier, monospace;
  max-height: 300px;
  overflow: hidden;
  overflow-y: auto;
}
.queue-log p {
  margin: 2px 0 0 0;
}
.queue-log p .time {
  font-style: italic;
  color: var(--base-light);
  font-size: 0.9rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
}
.queue-log p.success {
  color: var(--success-light);
}
.queue-log p.error {
  color: var(--error-light);
}
.queue-log p.notice {
  color: var(--notice-light);
}

input:disabled,
button:disabled {
  opacity: 0.333;
  cursor: not-allowed;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
